build
build_cmake
dist
instances
MaxSAT-Fuzzer
.venv
.cache

*.o
*.or
*.od
*.oh
*.a
*.so
*__pycache__
*.egg-info
*depend.mk

IMPLEMENTATION_SUMMARY.md
external/acnfuzz/acnfuzz
external/acnfuzz/BuggedACNFs
external/acnfuzz/error_log.csv
external/solvers/cadical/makefile
external/solvers/cadical/src/makefile
external/solvers/AE_kissat2025_MAB/makefile
external/solvers/AE_kissat2025_MAB/src/makefile
external/solvers/AE_kissat2025_MAB/build_pic/build.h
external/acnfuzz/solvers/EvalMaxSAT_bin